#THIS WILL DISPLAY THE IMAGE OF THE ANIMAL IN THE HAT

<!DOCTYPE html>
<html>
  <head>
    <title>RESULTS!</title>
    
  </head>
  <body>
    <h1>SO CUTE </h1>
    <img src="<%=@animal_pic%>"/>
    
    <!--<img src= "https://media.giphy.com/media/yr7n0u3qzO9nG/giphy.gif">-->
  </body>
</html>